:root {
	--primary: #1f4d3d;
	--text: #404040;
	--background: #ffffff;
}

::-webkit-scrollbar {
	width: 0px;
}

html {
	background: -moz-linear-gradient(
		150deg,
		var(--theme) 0%,
		var(--background) 300px
	);
	background: -webkit-linear-gradient(
		150deg,
		var(--theme) 0%,
		var(--background) 300px
	);
	background: linear-gradient(
		150deg,
		var(--theme) 0%,
		var(--background) 300px
	);
	background-color: var(--background);
	color: var(--text);
	font-family: Montserrat, sans-serif;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

* {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	scrollbar-width: none;
}

page-title {
    width: 0px;
    height: 0px;
    overflow: hidden;
    padding: 0 !important;
}

button,
a,
input[type="submit"] {
	transition: 0.5s;
}

a {
	text-decoration: none;
	color: var(--text);
	transition: 0.5s;
	cursor: pointer;
}

a:hover {
	opacity: 0.75;
	color: var(--theme);
}

img[alt=""] {
	box-shadow: none !important;
}

.mobileOnly,
.hero.mobileOnly {
	display: none !important;
}

.noMobile {
	display: block;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-weight: bold;
}

header.collapsed .main {
	height: 50px !important;
}

header .announcement {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 300px;
	padding: 10px;
	border: 1px solid var(--theme);
	position: fixed;
	top: 45px;
	left: -75px;
	rotate: -35deg;
	background-color: var(--theme);
	color: var(--background);
	z-index: 100;
}

header .socials {
	position: fixed;
	top: 70px;
	left: 30px;
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(1, minmax(10px, 1fr));
	gap: 10px;
	justify-items: start;
	align-items: start;
}

header:has(.announcement) .socials {
	top: 150px !important;
	grid-template-columns: repeat(2, minmax(10px, 1fr)) !important;
}

header .socials a:hover {
	opacity: 1;
}

header .socials i {
	border: 1px solid #ececec;
	padding: 15px;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
	font-size: 20px;
}

header:has(.announcement) .socials a:nth-child(even) i {
	margin-top: -30px;
}

header .main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	width: 75%;
	padding: 40px 0 20px 0;
	border-bottom: 1px solid lightgray;
}

header .main.home {
	flex-direction: column !important;
	padding-top: 65px;
}

header .main a {
	padding: 10px;
}

header .main a img {
	height: 39px;
	padding-right: 15px;
}

header .main.home a img {
	height: 50px !important;
}

header .main .logo {
    display: flex;
    align-items: center;
}

header .main.home .logo {
    flex-direction: column;
    gap: 15px;
    margin-bottom: -10px;
}

header .main .logo h2 {
    margin: 0px;
    font-weight: 700;
    text-align: center;
}

header .main .links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

header .main .search {
	top: 70px;
	right: 40px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 15px;
	height: 32px;
	z-index: 100;
}

header .main.home .search {
	position: fixed;
}

header .main .search img {
	height: 15px;
	rotate: 90deg;
	cursor: pointer;
	margin-left: -45px;
}

header .main .search form {
	margin: 0;
	display: none;
}

header .main .search.active form {
	display: block;
}

header .main .search form input {
	width: 20vw;
	min-width: 100px;
	border-radius: 24px;
	border: 2px solid #d2d2d2;
	background-color: var(--background);
	color: var(--text);
	padding: 8px 12px;
	transition: 0.5s;
}

header .main .search form input:hover,
header .main .search form input:focus {
	width: 25vw;
	transition: 0.5s;
}

header .main .search form input::placeholder {
	color: var(--text);
}

header .alert {
	background: var(--theme);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	height: 40px;
	position: fixed;
	text-align: center;
}

header .alert a {
	color: var(--background);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
}

header .main .widgets {
    position: absolute;
    top: 70px;
    left: 100px;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

header .main .widget {
	display: none;
}

header .main:has(.search.active) .widget {
	top: 65px;
	transition: top 1s, opacity 1.5s;
}

header .main.home .widget {
	position: absolute;
	top: 10px;
	right: 100px;
	display: flex;
	align-items: center;
	gap: 7.5px;
	height: 32px;
	opacity: 0;
	transition: top 1s, opacity 1.5s;

	* {
		margin: 0;
		padding: 0;
	}

	h2 {
		font-size: 17.5px;
		font-weight: bold;
	}

	h5 {
		font-size: 12.5px;
		font-weight: 600;
	}
}

header .main.home .widget.active {
	opacity: 1;
	transition: top 1s, opacity 1.5s;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 1;
	transition: 1s;

	section {
		height: 50%;
		background: var(--background);
		margin: 0;
		transition: 1s cubic-bezier(0.65, 0, 1, 1);
		position: relative;
	}

	section#\32.hide-before::before {
		display: none !important;
	}

	img {
		opacity: 0;
		transition: 1s;
		width: 200px;
		height: 200px;
		/* background: var(--theme);
		border-radius: 100%; */
		position: absolute;
		top: calc(50% - 100px);
		left: calc(50% - 100px);
		transition: 1s;
		transition-delay: 1s;
		z-index: 1;
	}
}

.loader.active {
	z-index: -1;
	opacity: 0;
	transition: 0s;
	transition-delay: 1s;

	section {
		transition: 1s cubic-bezier(0.65, 0, 1, 1);
	}

	section#\31 {
		margin-top: -50vh;
	}

	section#\32 {
		margin-bottom: -50vh;
	}

	img {
		opacity: 0 !important;
		transition: 1s;
		transition-delay: 0s;
	}
}

.loader.bordered {
	section {
		height: calc(50% - 2px);
	}

	section#\31 {
		border-bottom: 2px solid var(--theme);
	}

	section#\32 {
		border-top: 2px solid var(--theme);
	}

	img {
		opacity: 1;
	}
}

.loader.text {
	section#\32::before {
		position: absolute;
		top: -20px;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 1;
		font-weight: 600;
		background: var(--background);
		padding: 20px 0;
	}
}

.loader.text.bordered {
	section#\32::before {
		top: 150px;
	}
}

.pcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
}

.Animated {
    animation-duration: 0.75s;
    animation-fill-mode: both;
}

.Animate--fadeIn {
    animation-name: fadeIn;
}

.Animate--fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.loading {
    position: fixed;
    top: 7.5px;
    right: 7.5px;
    height: 25px;
    width: 25px;
    z-index: 101;
}

body:has(.alert) .loading {
    filter: invert(1);
}

.hero {
	display: grid;
	grid-template-columns: 1.3fr 0.7fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: ". side";
	width: 75%;
	height: 30vw;
	gap: 20px;
	padding: 20px 0 50px 0;
}

.side {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"."
		".";
	grid-area: side;
	gap: 20px;
}

.hero .newspaper {
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.hero .newspaper:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 25%;
	transition: 0.5s;
}

.hero .newspaper:hover:before {
	opacity: 0%;
}

.hero .newspaper div {
	position: absolute;
	bottom: 40px;
	left: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	color: var(--background);
	max-width: 80%;
}

.hero .newspaper div h2 {
	font-size: 24px;
	margin: 0;
}

.hero .newspaper div h4 {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}

.articles {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f7f7f7 var(--noise) repeat 0 0;
	color: var(--text);
	gap: 20px;
	width: 100%;
	padding: 100px 0;
}

.articles.individual {
	background-color: #161616;
	color: var(--background);
}

.articles h2 {
	width: 75%;
	font-size: 50px;
	font-weight: 600;
	margin: 0;
}

.articles hr {
	width: 80px;
	height: 2px;
	background: var(--theme);
	border: none;
	margin-left: calc(25% / 2);
}

.articles .grid {
	display: grid;
	grid-template-columns: repeat(3, 25%);
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: ". . .";
	width: 100%;
	border-top: 1px solid var(--text);
	border-bottom: 1px solid var(--text);
	justify-items: stretch;
	align-items: stretch;
	justify-content: center;
}

.articles .grid.all {
	border-bottom: none;
}

.articles .grid.hideBorderTopBottom {
	border: none;
}

.articles .grid.hideBorder0 .article:nth-last-child(1),
.articles .grid.hideBorder1 .article:nth-last-child(1),
.articles .grid.hideBorder2 .article:nth-last-child(1) {
	border-bottom: none;
}

.articles .grid.hideBorder0 .article:nth-last-child(2),
.articles .grid.hideBorder2 .article:nth-last-child(2) {
	border-bottom: none;
}

.articles .grid.hideBorder0 .article:nth-last-child(3) {
	border-bottom: none;
}

.articles.individual .grid {
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}

.articles .grid .article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--text);
	border-bottom: 1px solid var(--text);
	transition: 0.25s;
	padding: 50px;
}

.articles.individual .grid .article {
	border-bottom: 1px solid #c7c7c7;
	color: var(--background);
}

.articles .grid .article:hover {
	border-bottom-color: var(--theme);
}

.articles .grid .article:hover a {
	opacity: 0.75;
	transition: 0.5s;
}

.articles .grid .article.left {
	padding: 50px 50px 50px 0;
	border-right: 1px solid var(--text);
}

.articles.individual .grid .article.left {
	border-right: 1px solid #c7c7c7;
}

.articles .grid .article.right {
	padding: 50px 0 50px 50px;
	border-left: 1px solid var(--text);
}

.articles.individual .grid .article.right {
	border-left: 1px solid #c7c7c7;
}

.articles .grid .article .inner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
    align-items: flex-start;
	gap: 20px;
	height: 100%;
	width: 100%;
}

.articles .grid .article img {
    width: auto;
    max-width: 100%;
	height: 200px;
}

.articles .grid .article h3 {
	font-size: 24px;
	font-weight: 500;
	margin: 0;
}

.articles .grid .article h4 {
	font-size: 14px;
	color: #535353;
	margin: 0;
}

.articles.individual .grid .article h4 {
	color: #c7c7c7;
}

.articles .grid .article p {
	font-size: 12px;
	text-transform: uppercase;
	margin: 0;
}

.articles .grid .article p a {
	color: #313131;
}

.banner {
	width: 90vw;
	padding: 5vw;
	background-size: cover;
	background-position-y: center;
	color: var(--background);
}

.banner i {
	font-size: 48px;
}

.banner img {
	height: 75px;
	width: 75px;
	border-radius: 100%;
}

.article-i {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	padding: 60px 40px;
	width: 75%;
	max-width: 1200px;
}

.article-i #error {
	background-color: var(--theme);
	color: var(--background);
	padding: 20px 30px;
	width: -webkit-fill-available;
	border-radius: 15px;
}

.article-i > img {
	width: 100%;
}

.article-i .image,
.article-i img {
	box-shadow: var(--theme) 0px 0px 0px 1px;
	transition: 0.5s;
	width: 100%;
}

.article-i .image:hover,
.article-i img:hover {
	box-shadow: var(--theme) 0px 0px 0px 2px;
	transition: 0.5s;
}

.article-i .image img:hover {
	box-shadow: none;
}

.article-i .split {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
}

.article-i .split .left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.article-i .split .left .info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.article-i .split .left .info h1 {
	font-weight: bold;
	margin: 0;
}

.article-i .split .left .info h3 {
	width: 90%;
	margin: 0;
}

.article-i .split .left .info h5 {
	margin: 0;
}

.article-i .split .left .author {
	display: flex;
	align-items: center;
	gap: 20px;
}

.article-i .split .left .author img {
	height: 63px;
	width: 63px;
	border-radius: 100%;
	cursor: pointer;
}

.article-i .split .left .author .info {
	gap: 5px;
}

.article-i .split .left .author .info * {
	margin: 0;
}

.article-i .split .left .author .info h4 {
	font-weight: 600;
	color: black;
}

.article-i .split .right .icons {
	display: grid;
	grid-template-columns: repeat(3, minmax(10px, 1fr));
	gap: 10px;
}

.article-i .split .right .icons i {
	cursor: pointer;
	font-size: 17.5px;
	transition: 0.1s;
}

.article-i .split .right .icons i:hover {
	color: var(--theme);
	margin-top: -3px;
	transition: 0.1s;
}

.article-i .content:before {
	font-weight: bold;
}

.article-i .content > p:first-of-type::first-letter {
	font-weight: bold;
	font-size: 50px;
	float: left;
	line-height: 30px;
	margin-right: 5px;
}

.article-i .content *:not(.images *) {
	margin: 10px 0;
	font-weight: revert !important;
}

.article-i .content b {
	font-weight: bold;
}

.article-i .content b * {
	font-weight: bold;
}

.article-i .content a {
	text-decoration: underline;
}

.article-i .content img {
	width: 100%;
}

.article-i object {
	height: 100vh;
}

.article-i .poll {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.article-i .poll .results {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.article-i .poll .results canvas {
	width: 100% !important;
}

.article-i .comments {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.article-i .new {
	display: flex;
	align-items: center;
	gap: 10px;
}

.article-i .new * {
	margin: 0;
	width: 100%;
}

.article-i .new input,
.article-i .new select {
	border: 1px solid var(--theme);
	border-radius: 1px;
	padding: 10px 15px;
}

.article-i .new button {
	background-color: var(--theme);
	border: 1px solid var(--theme);
	border-radius: 1px;
	padding: 10px 15px;
	color: var(--background);
	cursor: pointer;
}

.article-i .new button:hover {
	opacity: 0.75;
	letter-spacing: 1px;
}

.article-i .comments hr {
	width: 100%;
	height: 2px;
	border: none;
	background-color: var(--text);
}

.article-i .comments .comment {
	border: 1px solid var(--theme);
	border-radius: 1px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 15px;
}

.article-i .comments .comment * {
	margin: 2px 0;
}

.about {
	padding: 50px 0;
	width: 75%;
}

.about img {
	width: 100%;
}

.about .split {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding-bottom: 50px;
}

.about .split img {
	border-radius: 100%;
	height: max-content;
}

footer {
	text-align: center;
	min-height: calc(70vh - 175px - 80px);
	width: 100%;
	background-size: cover;
	background-position-y: center;
	padding-top: 175px;
}

footer .inner {
	background-color: #1a1a1a;
	color: var(--background);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	padding: 40px 0;
}

footer .inner .top {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 75%;
	padding-bottom: 30px;
	border-bottom: 1px solid #5e5e5e;
}

footer .inner .top img {
	height: 50px;
}

footer .inner .top h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
}

footer .inner .top h2 {
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
    margin-top: -15px;
}

footer .inner .top .links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
}

footer .inner .top .links a {
	color: var(--background);
}

footer .inner .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	color: var(--background);
	font-size: 12px;
	gap: 15px;
}

footer .inner .bottom a {
	color: var(--background);
}

footer .inner .bottom p {
	margin: 0;
}

footer .inner .bottom .socials {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

footer .inner .bottom .socials a:hover {
	opacity: 1;
}

footer .inner .bottom .socials i {
	border: 1px solid var(--background);
	padding: 15px;
	border-radius: 100%;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	transition: 0.5s;
}

footer .inner .bottom .socials i:hover {
	background-color: var(--background);
	color: var(--text);
	transition: 0.5s;
}

.toTop {
	background-color: var(--theme);
	color: var(--background);
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 100;
}

.toTop.visible {
	opacity: 1;
}

.toTop:hover {
	color: var(--background);
	opacity: 0.75;
}

.articles.searchResults {
	padding: 100px 0 200px 0;
}

.articles.searchResults .grid {
	grid-template-columns: repeat(1, 1fr) !important;
	grid-template-areas: "." !important;
	gap: 1vh;
}

.articles.searchResults .grid .article {
	flex-direction: row;
	padding: 20px 200px;
	gap: 30px;
}

.articles.searchResults .grid .article .inner {
	width: 85%;
	justify-content: center;
	gap: 0px;
}

.articles.searchResults .grid .article img {
	width: auto !important;
	height: 100px !important;
}

.articles.searchResults .grid .article:last-child {
	border-bottom: none !important;
}

.lb-outerContainer {
	width: 90vw !important;
}

.lightbox .lb-image {
	width: 100% !important;
	height: unset !important;
}

.advertisement {
	width: 100%;
	padding: 100px 0;
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
}

.advertisement a {
	max-width: 75%;
	width: max-content;
	display: flex;
	justify-content: center;
}

.advertisement a img {
	width: 100%;
	max-width: 1000px;
	box-shadow: var(--theme) 0px 0px 30px 0px;
}

.split {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.split .articles .grid {
	grid-template-columns: repeat(2, 1fr) !important;
	grid-template-areas: ". ." !important;
}

.split .articles .grid .article {
	padding: 50px 50px !important;
	border: none !important;
	border-bottom: 1px solid var(--text) !important;
}

.split articles .grid .article:nth-child(odd) {
	border-right: 1px solid var(--text) !important;
}

.split .articles .grid.hideBorder1 .article:nth-last-child(2) {
	border-bottom: 1px solid var(--text) !important;
}

.split .articles .grid .article:nth-last-child(-n + 2) {
	border-bottom: none !important;
}

.split .sidebar {
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 15px 30px;
}

.split .sidebar * {
	margin: 0;
}

.split .sidebar h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.split .sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.split .sidebar ul li {
	margin: 10px 0;
}

.images {
	margin: 40px 0 !important;
}

.images .splide__track {
	border-radius: 10px;
}

.images .splide__list {
	height: unset;
}

.images .splide__arrow {
	background: var(--theme);
}

.images .splide__arrow svg {
	fill: var(--background);
}

.images .splide__pagination__page {
	transform: none;
	width: 20px;
	border-radius: 5px;
	background: var(--background);
}

.images .splide__pagination__page.is-active {
	background: var(--theme);
	border: 2px solid var(--background);
}

.images .splide__list > .splide__slide:only-child {
	height: unset !important;
}

.images .splide__slide img {
	width: 100%;
	height: 100%;
    object-fit: contain;
    object-position: left;
}

.images .splide__slide div {
	position: absolute;
	bottom: 15;
	left: 20;
	color: var(--background);
	font-size: large;
}

@media screen and (max-width: 1400px) {
	header .main {
		padding: 24px 0 20px 0 !important;
		flex-direction: row !important;
	}

	header .main.home {
		padding: 50px 0 20px 0 !important;
	}

	header .main .search {
		position: fixed !important;
	}

	.articles .grid {
		grid-template-columns: repeat(3, 30%) !important;
	}
}

@media screen and (max-width: 1200px) {
	header .main {
		flex-direction: column !important;
	}

	header .main .search {
		position: flex !important;
	}

	.hero {
		display: flex !important;
		flex-direction: column;
		gap: 20px;
	}

	.hero.onlyOne {
		height: 300px !important;
	}

	.hero .newspaper {
		height: 25vh;
        min-height: 25vh;
	}

	.hero .newspaper:first-of-type {
		height: 100%;
	}

	.hero .side {
		display: none;
	}

	.hero .side {
		width: 100%;
	}

	.articles h2 {
		width: 90% !important;
		font-size: 40px !important;
	}

	.articles hr {
		margin-left: 5.5% !important;
	}

	.articles .grid {
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-areas: ". ." !important;
	}

	.articles .grid .article {
		padding: 50px 20px !important;
		border: none !important;
		border-bottom: 1px solid var(--text) !important;
	}

	.articles .grid .article:nth-child(odd) {
		border-right: 1px solid var(--text) !important;
	}

	.articles .grid .article:nth-last-child(-n + 2) {
		border-bottom: none !important;
	}
}

@media screen and (max-width: 800px) {
	html {
		background: var(--background) !important;
	}

	.mobileOnly,
	.hero.mobileOnly {
		display: flex !important;
	}

	.noMobile {
		display: none !important;
	}

	header .announcement,
	header .alert {
		position: relative !important;
		width: max-content !important;
		max-width: 75%;
		rotate: unset !important;
		top: 36px !important;
		left: 0px !important;
		padding: 10px 20px !important;
		border-radius: 100px;
		margin-bottom: 30px;
		height: unset !important;
	}

	header .main {
		flex-direction: column !important;
	}

	header .main.home {
		margin-top: -26px;
	}

	header .main a img {
		height: 50px !important;
	}

	header .main a img,
	footer .inner .top img {
		max-width: 70vw;
	}

	header .main .logo {
		flex-direction: column;
		gap: 15px;
	}

	header .main .links,
	footer .inner .top .links {
		display: grid !important;
		grid-template-columns: repeat(2, minmax(10px, 1fr));
		justify-items: center;
		text-align: center;
		width: 80vw;
	}

	header .main .search {
		position: relative !important;
		top: 0px !important;
		right: unset !important;
		margin-top: 10px;
	}

	header .main .search form input {
		width: 25vw !important;
	}

	header .main .search form input:hover,
	header .main .search form input:focus {
		width: 50vw !important;
	}

	header .main .widgets {
		position: relative !important;
		top: 0 !important;
        left: unset !important;
		height: 50px;
	}

	header .main.home .widget {
		position: absolute !important;
		top: 0px !important;
		right: unset !important;
		margin-top: 10px;
	}

	header .socials {
		display: none !important;
	}

	.hero {
		height: fit-content !important;
		width: 85% !important;
	}
	
    .hero .newspaper:first-of-type {
        height: 50vh !important;
    }

	.articles .grid {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-template-areas: "." !important;
		width: 90% !important;
	}

	.articles .grid .article {
		width: 90% !important;
	}

	.articles .grid .article:nth-child(odd) {
		border-right: unset !important;
	}

	.articles .grid .article:nth-last-child(2) {
		border-bottom: 1px solid var(--text) !important;
	}

	.banner {
		width: 70vw !important;
		padding: 5vw 15vw !important;
	}

	.article-i {
		padding: 60px 0 !important;
		width: 85% !important;
	}

	.article-i .split .left .info h3 {
		width: 100% !important;
	}

	.article-i .new {
		flex-direction: column;
	}

	.about .split {
		flex-direction: column !important;
	}

	.articles.searchResults .grid {
		gap: 2vw !important;
	}

	.articles.searchResults .grid .article {
		padding: 20px !important;
		border-right: unset !important;
		justify-content: flex-start;
		flex-direction: column !important;
		align-items: flex-start !important;
	}

	.articles.searchResults .grid .article img {
		width: 200px !important;
		height: unset !important;
	}

	.articles.searchResults .grid .article img[alt=""] {
		display: none !important;
	}

	.articles.searchResults .grid .article .inner {
		width: unset !important;
		gap: 30px !important;
	}

	.toTop {
		bottom: 20px !important;
		right: 20px !important;
	}

	.split .articles .grid {
		width: 100% !important;
		overflow: hidden;
	}

	.split .articles .grid .article img {
		width: min-content !important;
		height: 200px !important;
	}

	.split .sidebar {
		display: none !important;
	}

	.images .splide__slide img {
		max-height: 400px;
	}
}